* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
#navbar {
    background-color: #21261b;
}
#navbar a {
    text-decoration: none;
    color: white;
}

#logo img {
    width: 200px;
    display: block;
    margin: 0px auto;
    padding: 30px 0px;
}
#dropdown-box {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 0px 0px 20px;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
}
#hero{
    background-image: url(../images/homefromhome.webp);
    background-size: cover;
    background-position: center center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    border-top: solid 10px #c2c4ac;
    border-bottom: solid 10px #c2c4ac;
    color: #daddd6;
    font-size: 50px;
}

.menu {
    background-color:  #353c2c;
    display: flex;
    gap: 10px
}
ul {
    padding: 0px;
    text-align: center;
}
 h3 {
    text-align: center;
    color: #c2c4ac;
    border-bottom: solid #c2c4ac;
}
#hero2{
    background-image: url(../images/chivken3.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    position: relative;
    border-top: solid 10px #c2c4ac;
    border-bottom: solid 10px #c2c4ac;
}
#hero div {
    background-color: #353c2c55;
    backdrop-filter: blur(10px);
    color:  #c2c4ac;
    width: 50%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #1115;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    a {
        text-decoration: none;
        color: white;
        text-decoration: none;
        background-color: #21261b;
        padding: 25px;
        font-size: 35px;
        border-radius: 19px;
    }
    h2 {
        color: white;
    }
}
#sideitem{
    background-color: #353c2c
    
}
#s1 {
    background-color: #21261b;
    display: flex;
    align-items: center;
    gap: 40px;
    min-height: 50vh;
    img {
        height: 100%;
    }
    .image-container {
        flex: 1;
        height: 50vh;
    }
    .content {
        flex: 1;
        color: white;
    }
    .content h2 {
        color: #c2c4ac;
        font-size: 50px;
        margin-bottom: 25px;
    }
}





@media screen and (max-width: 768px){
    #navbar {
          flex-direction: column;
    }
    img {
        width: 100%;
    }
}