* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
}
.light-container {
    background-color: lightcyan;
    padding: 48px 0px;
}
.dark-container {
    background-color: navy;
    color: aliceblue;
    padding: 48px 0px;
}