#navbar {
    background-color: blue;
    padding: 24px;
    text-align: center;
}
#navbar a {
    color: white;
}

p a {
    color: teal;
}

.warning a {
    color: orange;
}

p.warning {
    background-color: rgb(230, 255, 194);
}

ul {
    color: green;
}
ul a {
    color: lime;
}
ul p a {
    color: pink;
}

ul div a {
    color: violet;
}