/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-1 {
    background-color: #eeffee;
    max-width: 350px;
    margin: 16px;
    box-shadow: 4px 4px 9px #0008;
}
.card-style-1 img {
    width: 100%;
}
.card-style-1 h2,
.card-style-1 p {
    padding-left: 24px;
    padding-right: 24px;
}
.card-style-1 h2 {
    margin-top: 0px;
    padding-top: 24px;
}
.card-style-1 a {
    display: block;
    background-color: green;
    padding: 24px;
    font-size: 20px;
    text-decoration: none;
    color: #eeffee;
    text-align: center;
    transition: opacity 0.25s;
}
.card-style-1 a:hover {
    opacity: 0.8;
}