* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
button {
    background: transparent;
    border: none;
    padding: 0px;
}

.container {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}