* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
.container {
    width: 90vw;
    max-width: 900px;
    margin: 0px auto;
}
#page-layout .container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 50px;
}
#page-layout {
    background-color: pink;
}

.container > div {
    border: 1px solid black;
}
#c1 img {
    border: 5px ridge red;
}