* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #222;
}
img {
    width: 100%;
    object-fit: cover;
}
#page-layout {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    width: 90dvw;
    max-width: 900px;
    margin: 25px auto;
    border: 2px solid #ffabbd;
    border-image: 
        linear-gradient(
            30deg, 
            #ffabbd, 
            #ffedf1,
            #ffabbd)
            1
        ;
}
#page-layout > div {
    padding: 25px;
}
#page-layout #c1 {
}
#page-layout #c2 {
}
#page-layout #c3 {
    background-color: #ffabbd;
    background: 
        linear-gradient(
            30deg, 
            #ffabbd, 
            #ffedf1,
            #ffabbd)
        ;
}