/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 10px;
    border-style: outset;
    display: inline-block;
    border-radius: 25px 25px 0px 0px;
}
.tetris-block.re ~ .tetris-block {
     border-radius: 0px 0px 25px 25px;
}
.long {
    padding: 20px 50px;
}
.empty {
    border-color: transparent;
    background-color: transparent;
}
.verm {
    background-color: #ff3030;
    border-color: #ff3030;
}
.olive {
    background-color: olivedrab;
    border-color: olivedrab;
}
.quackity {
    background-color: #ffdd00;
    border-color: #ffdd00;
}