* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    max-width: 900px;
    width: 85%;
    margin: 0px auto;
    padding-top: 25px;
}

#sidebar {
    border: 0.5px solid hotpink;
    width: 250px;
    padding: 24px;
}
#sidebar h2 {
    border-bottom: 0.5px solid hotpink;
    padding-bottom: 8px;
}
#sidebar ul {
    list-style-type: none;
    padding: 0px;
}
#sidebar ul li {
    padding: 4px 0px;
}
#sidebar ul a {
    color: #333;
    text-decoration: none;
}

#main {
    flex: 1;
    padding: 48px;
}